---
import ModeToggle from "./ModeToggle.tsx";
---

<header class="flex">
  <div class="flex items-center max-w-2xl w-full mx-auto justify-between p-4">
    Juliox.dev

    <ModeToggle client:only="react" />
  </div>
</header>
